 <div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>
  <div id="content">
    <h1>Hey, I'm Mark Emil Gabor</h1>
    <p>
      Welcome to my first Blog Application
    </p>
    <p>
      If you'd like to follow along as I learn more Ruby on Rails,
      find me on twitter <a href="#">@MangGabor</a> or on the web at <a href="#">manggabors.me</a>
      , and get my post and exclusive video tutorials on YouTube at <a href="#">gmarkemil</a>
    </p>
  </div>

 </div>
